extends ../layout/admin

block content
  .py-10
    h2.text-center.text-2xl.font-extrabold.text-neutral-600= page
  
  div(class="mx-auto max-w-4xl bg-white shadow-lg shadow-rose-400 rounded-md p-2 mb-10")
    p(class="text-center text-neutral-600 p-5") La vista de tu perfil no esta disponible en este momento, por favor intentalo mas tarde.